:root {
    --lime: hsl(61, 70%, 52%);
    --red: hsl(4, 69%, 50%);
    --white: hsl(0, 0%, 100%);
    --slate-100: hsl(202, 86%, 94%);
    --slate-300: hsl(203, 41%, 72%);
    --slate-500: hsl(200, 26%, 54%);
    --slate-700: hsl(200, 24%, 40%);
    --slate-900: hsl(202, 55%, 16%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    min-height: 100dvh;
    background-color: var(--slate-100);
    display: grid;
    place-items: center;
}

main {
    max-width: 800px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: var(--white);
    border-radius: 16px;
}

.calculator {
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 1em;
    width: 100%;
}

.calculator header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inputs {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
    column-gap: 10px;
}

.inputs > * {
    grid-column: 1 / -1;
}

.inputs .half {
    grid-column: span 1;
}

.inputs .half > * {
    width: 100%;
}

.result {
    background-color: var(--slate-900);
    border-radius: 0px 16px 16px 16px;
}

.completed-result {
    display: none;
}

.plus-jakarta-sans-500 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.plus-jakarta-sans-700 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}